<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fairyzoro.xiaoli.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".XLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".XLBaseActivity" />
        <activity
            android:name=".CSActivity"
            android:label="@string/title_activity_cs" >
        </activity>
        <activity
            android:name=".XLNormalActivity"
            android:label="@string/title_activity_xlnormal" >
        </activity>
        <activity
            android:name=".userface.XLLoginActivity"
            android:label="@string/title_activity_xllogin" >
        </activity>
    </application>

</manifest>
